
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1> Nilai a = {{ jumlah }}</h1>
        <h1> Rata rata = {{ ratarata }}</h1>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            a : 0 ,
            sum : 0 ,
            n : -1 ,
        } ,
        methods : {
            openForm : function() {
                this.a = prompt("Masukkan nilai a")
            } ,
        } ,
        computed : {
            jumlah : {
                get() {
                    this.sum = parseInt(this.sum) + parseInt(this.a)
                    this.n = parseInt(this.n) + 1
                    return this.sum
                } ,
            } ,
            ratarata : {
                get() {
                    if (this.sum == 0) return 0
                    else return parseFloat(this.sum) / parseFloat(this.n)
                }
            }
        } ,
  })
  </script>
</body>
</html>